Ovi.Task/Ovi.Task.Ext/Web References/tr.com.shaya.boysweb/ordercloseservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CloseWorkOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="tns:Login" />
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:WorkOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Login">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InstanceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IsemriNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HariciSistemFormNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArizaNedeniKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArizaCozumuKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YapilanIs" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBitisTarihi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsTamamlanmaTarihi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HakedisAyi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HakedisYili" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FaturaTipi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBaslangicTarihi" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="KullanılanMalzemeler" type="tns:ArrayOfWorkOrderItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Hizmetler" type="tns:ArrayOfWorkOrderService" />
          <s:element minOccurs="0" maxOccurs="1" name="Dokumanlar" type="tns:ArrayOfWorkOrderDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderItem" nillable="true" type="tns:WorkOrderItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MalzemeKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AmbarKodu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Miktar" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BirimFiyat" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ParaBirimi" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderService" nillable="true" type="tns:WorkOrderService" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HizmetKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FaturaNumarası" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Miktar" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BirimFiyat" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ParaBirimi" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderDocument" nillable="true" type="tns:WorkOrderDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileBody" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="CloseWorkOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseWorkOrderResult" type="tns:CloseWorkOrderReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CloseWorkOrderReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateWorkOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="tns:Login" />
            <s:element minOccurs="0" maxOccurs="1" name="IsemriNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HariciSistemFormNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StatuKodu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWorkOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWorkOrderStatusResult" type="tns:UpdateWorkOrderStatusReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateWorkOrderStatusReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddDocumentToWorkOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="tns:Login" />
            <s:element minOccurs="0" maxOccurs="1" name="IsemriNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dcm" type="tns:WorkOrderDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentToWorkOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDocumentToWorkOrderResult" type="tns:UpdateWorkOrderStatusReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CloseWorkOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CloseWorkOrder" />
  </wsdl:message>
  <wsdl:message name="CloseWorkOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CloseWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWorkOrderStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWorkOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="AddDocumentToWorkOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddDocumentToWorkOrder" />
  </wsdl:message>
  <wsdl:message name="AddDocumentToWorkOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddDocumentToWorkOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderCloseServiceSoap">
    <wsdl:operation name="CloseWorkOrder">
      <wsdl:input message="tns:CloseWorkOrderSoapIn" />
      <wsdl:output message="tns:CloseWorkOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkOrderStatus">
      <wsdl:input message="tns:UpdateWorkOrderStatusSoapIn" />
      <wsdl:output message="tns:UpdateWorkOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToWorkOrder">
      <wsdl:input message="tns:AddDocumentToWorkOrderSoapIn" />
      <wsdl:output message="tns:AddDocumentToWorkOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderCloseServiceSoap" type="tns:OrderCloseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CloseWorkOrder">
      <soap:operation soapAction="http://tempuri.org/CloseWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkOrderStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateWorkOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToWorkOrder">
      <soap:operation soapAction="http://tempuri.org/AddDocumentToWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderCloseServiceSoap12" type="tns:OrderCloseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CloseWorkOrder">
      <soap12:operation soapAction="http://tempuri.org/CloseWorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateWorkOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToWorkOrder">
      <soap12:operation soapAction="http://tempuri.org/AddDocumentToWorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderCloseService">
    <wsdl:port name="OrderCloseServiceSoap" binding="tns:OrderCloseServiceSoap">
      <soap:address location="https://boysweb.shaya.com.tr/beamocservicetest/ordercloseservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderCloseServiceSoap12" binding="tns:OrderCloseServiceSoap12">
      <soap12:address location="https://boysweb.shaya.com.tr/beamocservicetest/ordercloseservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>